<h1>Todo Lists</h1>

<% @todo_lists.each do |item| %>
  <p>Title: <%= item.title %></p>
  <p>Description: <%= item.description %></p>

  <%= link_to "edit", edit_todo_list_path(item) %>
  <%= link_to "delete", todo_list_path(item), method: :delete, data: { confirm: "Are you sure?!" } %>
<% end %>

<br />
<%= link_to 'New todo list', new_todo_list_path %>
