
<% flash.each do |key, value| %>
  <div class="flash_messages_of_<%= key %>">
    <%= value %>
  </div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-1">
        <%= link_to "", todo_lists_path, class: "glyphicon glyphicon-arrow-left btn btn-default btn-xs", style: "opacity: 0.6;" %>
      </div>
      <div class="col-md-10 text-center">
        <%= @todo_list.title %>
      </div>
    </div>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <% @todo_items.each do |item| %>
      <% if item.completed? %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-10">
              <s style="opacity: 0.29;"><%= item.content %></s>
            </div>
            <div class="col-md-2 text-center">
            <span style="opacity: 0.6;"><%= link_to  "", todo_list_todo_item_path(@todo_list, item), method: :delete, data: { confirm: "Are you sure?!" }, class: "glyphicon glyphicon-trash btn btn-default btn-xs" %></span>
            <span style="opacity: 0.29;" class="glyphicon glyphicon-ok btn btn-default btn-xs"></span>
          </div>
          </div>
        </li>
      <% else %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-10">
          <%= item.content %>
            </div>
            <div class="col-md-2 text-center">
          <span><%= link_to  "", todo_list_todo_item_path(@todo_list, item), method: :delete, data: { confirm: "Are you sure?!" }, class: "glyphicon glyphicon-trash btn btn-default btn-xs" %></span>
          <span><%= link_to  "", todo_list_todo_item_path(@todo_list, item), method: :patch, class: "glyphicon glyphicon-ok btn btn-default btn-xs" %></span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row">
<div class="col-md-offset-3">
<%= render 'shared/form_for_new_todo_item' %>
</div>
</div>
