<div class="modal-header">
  <% if @todo_list.title.blank? %>
    <h4 class="modal-title" id="myModalLabel">New todo list</h4>
  <% else %>
    <h4 class="modal-title" id="myModalLabel">Edit todo list</h4>
  <% end %>
</div>
<div class="error_list">
</div>

<%= form_for(@todo_list, remote: true) do |f| %>
<div class="modal-body">
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  <br />

  <%= f.text_area :description, class: "form-control", placeholder: "Description ... " %>
</div>

<div class="modal-footer">
  <%= button_to "Back", todo_lists_path, data: { dismiss: "modal" }, class: "btn btn-default" %>
  <% if @todo_list.title.blank? %>
    <%= f.submit "Create", data: { remote: true }, class: "btn btn-primary"%>
  <% else %>
    <%= f.submit "update", data: { remote: true }, class: "btn btn-primary"%>
  <% end %>
</div>
<% end %>
